.nav-link {
    background-color: #e0e0e0;
    color: #a3a3a3;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
}

.active-nav-link {
    background-color: #606060;
    color: #a3a3a3;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}